/*This will change the AL logo in the top left into whatever image you want. Just replace the url with your desired image's url.*/

.logo img[data-v-4fbac4e1] {
    width: 50px;
    height: 50px;
    content: url(https://i.imgur.com/txz1IXI.png);
    transition: width 2.0s, height 2.0s, transform 2.0s;
}

.logo img[data-v-4fbac4e1]:hover{
    width: 65px;
    height: 65px;
    transform: rotate(360deg);
}