/*This code removes the need for scrolling the About section and longer activity posts, making the experience of scrolling 
through the profile more fluid.*/

.about .content-wrap[data-v-5c30286e] {
    /*This deals with the About section.*/
    max-height: none;
    overflow: hidden;
}

.text[data-v-1bf2cf4e] .markdown {
    /*This deals with activity posts.*/
    margin-bottom: 14px;
    margin-top: 14px;
    max-height: none;
    overflow: hidden;

}