/*Foreword

    Charlie's Theme Version 1.3.7
        By ProbablyAsexual: https://anilist.co/user/ProbablyAsexual
        Github: https://github.com/ProbablyAsexual/
        Discord: UncivilPizza#5112


/*Variables

These can be changed at your own discretion. A short description of each variable is provided.*/

:root{
    --logoWidth: 50px; /*Height of the logo.*/
    --logoHeight: 45.42px; /*Width of the logo. I recommend you change this to fit the aspect ratio of the image you're using.*/
    --logoReplacment: url('https://i.imgur.com/xdXXRlh.png'); /*The URL for the logo image*/
    --headWidth: 90%; /*The width of the header and footer.*/
    --navWidth: 85%; /*The width of the content section.*/
    --curvyness: 15px; /*How round rounded corners are: higher number = rounder*/
    --boxOpacity: 0.3; /*How opaque the box behhind the content section is: higher number = less seethrough.*/
    --background: url('https://i.imgur.com/TyQm8h4.jpg'); /*The URL of the background image.*/
} 




/*noScroll
This section makes the about section and activities display in full instead of having to scroll them.*/

.about .content-wrap[data-v-5c30286e] {
    max-height: none;
    overflow: hidden;
}

.text[data-v-1bf2cf4e] .markdown {
    max-height: none;
    overflow: hidden;

}




/*logoChanger

This does two things: its main function is to change the AL logo in the top left of the page to whatever image you like. 
You can use whatever image you like by uploading it to any image hosting site and replacing the URL with your image's url.
It also gives the image an animation when you hover over it; it enlarges and spins 360 degrees.
If you don't want the animation, remove the line marked Animation, and the second code block (the one with 'hover' at the top).*/

.logo img[data-v-4fbac4e1] {
    width: var(--logoWidth);
    height: var(--logoHeight);
    content: var(--logoReplacment);
    transition: transform 2.0s; /*Animation*/
}

.logo img[data-v-4fbac4e1]:hover{
    transform: rotate(360deg) scale(1.4);
}




/*header

This customises the header.*/

.nav[data-v-4fbac4e1] {
    /*This makes the header more rounded and narrower.*/
    width: var(--headWidth);
    border-style: hidden;
    border-bottom-left-radius: var(--curvyness);
    border-bottom-right-radius: var(--curvyness);
    left: calc((100% - var(--headWidth))/2);
    background: rgb(21,31,46) !important
}

/*hideBanner

This removes the banner image.*/

.banner{
    visibility: hidden !important;
}

.banner-content{
    visibility: visible !important;
}




/*niceContent

This surrounds the overview, favourites previews, status posts, etc. with a transparent box and turns the navbar into a nice-looking top.*/

.nav-wrap[data-v-4f7beb35]{
    /*This curves the navbar above the content section.*/
    width: var(--navWidth);
    margin: auto;
    border-top-left-radius: var(--curvyness);
    border-top-right-radius: var(--curvyness);
}

.content{
    /*This ensures that all the content stays within the semi-opaque background.*/
    max-width: var(--navWidth);
    padding: 0%;
}

.overview[data-v-5c30286e], .medialist[data-v-0567dd85], .favourites:not(.favourites[data-v-3f86aedd], .favourites[data-v-ddf96a3c]), 
.stats[data-v-1e00b9da], .user-social[data-v-e4963b98], .review-wrap[data-v-5e6a17b4]{
    /*This section handles the semi-opaque background for each profile section.*/
    margin: 0% 0% 2% 0%;
    padding: 2% 5% 5% 5%;
    background-color: rgba(0,0,0,var(--boxOpacity));
    border-bottom-left-radius: var(--curvyness);
    border-bottom-right-radius: var(--curvyness);
}

.submissions[data-v-3ed82f3f]{
    /*This is a fix for an annoying part of the submissions section. If you want to know more, try removing this part and see what happens.*/
    min-width: 100%;
    margin: 0% 0% 2% 0% !important;
    padding: 2% 5% 5% 5% !important;
    background-color: rgba(0,0,0,var(--boxOpacity));
    border-bottom-left-radius: var(--curvyness);
    border-bottom-right-radius: var(--curvyness);
}

.content[data-v-0369a0cf]{
    /*A fix for the review section making the text centred properly.*/
    max-width: 100% !important
}

/*The following blocks make all the corners curved.*/

.favourites[data-v-3f86aedd],.review-card[data-v-0369a0cf], .follow-card, .avatar[data-v-39573fe2],
.bar-chart-wrap[data-v-46edc0ca], .pie-chart.vertical-layout[data-v-26dc9635], 
.draggable[data-v-202815eb],.favourites-wrap[data-v-3f86aedd], .list-section, .filters,
.el-input__inner, .random-btn[data-v-063397cc], .hohButton, .filter-group:first-child > span, .el-input,
.content-wrap, .wrap[data-v-1bf2cf4e], .input[data-v-c574a71c]  a.router-link-active, .hohActive, .thread-card[data-v-70ae1ba4],
.hohSocialContent, .hohThemeSwitch, .filter-group a[data-v-1e00b9da], .button[data-v-c574a71c], .primary-links[data-v-04b245e6], 
.reply[data-v-732ef224], .markdown-editor, .theme-switch, .image{
    border-radius: var(--curvyness) !important
}

.medialist.cards .entry-card .title{
    border-radius: 0px 0px var(--curvyness) var(--curvyness) !important;
}

.el-textarea__inner{
    border: 2px hidden;
    border-radius: var(--curvyness) !important
}

.el-textarea{
    /*This makes the curved input area in status replies work.*/
    background: none
}

.content-wrap[data-v-5c30286e], .content-wrap[data-v-5c30286e]:hover{
    /*This is a fix for an annoying problem where a vertical line appears on the side of the About section.*/
    overflow-y: hidden!important
}

.filter-group:first-child > span .count{
    /*This moves the text of the list filters inwards so it doesn't clip through the curved border.*/
    right: var(--curvyness) !important
}

.theme-switch[data-v-0567dd85]{
    /*This moves the theme switcher at the top right of media lists downwards.*/
    margin-top: 20%
}

/*This section gives the navbar the underline when you hover over links. Thank Anzu for that one.*/

.nav > .link {
    position: relative;
}
.nav > .link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    width: 0;
    background: rgb(var(--color-blue));
    transition: all 0.3s ease-in-out;
}
.nav > .router-link-active::after {
    left: 0;
    width: 100%;
    background: rgb(var(--color-blue));
}
.nav > .link:hover::after {
    left: 0;
    width: 100%;
    background: rgb(var(--color-blue));
}

/*This hides part of the stats preview and reveals it when hovered over. Thanks again, Anzu.*/

.list-stats:nth-child(1), .list-stats:nth-child(2) {
    height: calc(121px - 45px);
    transition: all 1s ease-in-out;
}
.list-stats:nth-child(1):hover, .list-stats:nth-child(2):hover {
    height: 121px;
    transition-duration: 1s;
}

/*This makes the title text more readable.*/

h2{
    color: rgb(189,203,219) !important;
}




/*favourites

This improves the favourites section a lot.*/

.favourite[data-v-ddf96a3c]{
    /*This makes the picture curved and handles an important part of the transition.*/
    overflow: visible !important;
    border-radius: var(--curvyness);
}

.favourite[data-v-ddf96a3c]:hover{
    /*This makes the image expand when hovered over.*/
    transform: scale(1.4);
    z-index: 100;
}

.favourites-wrap[data-v-ddf96a3c]{
    /*This makes the Favourites section more visually pleasing; it packs the images closer together, and curves the boxes.*/
    overflow: visible;
    background: rgb(var(--color-foreground));
    padding: 20px;
    grid-gap: 10px;
    border-radius: var(--curvyness)
}




/*fancyFooter

This gives the footer a similar design to the header.*/

.wrap[data-v-a5dce466]{
    /*This makes the footer the same width as the header and centres it.*/
    max-width: var(--headWidth);
    margin: auto;
}

.footer[data-v-a5dce466]{
    /*This curves the footer's corners and lightens the background to the same color as the header.*/
    border-radius: var(--curvyness) var(--curvyness) 0px 0px;
    background: rgb(21,31,46)
}

.hohColourPicker{
    /*This gets rid of the colour picker in the bottom right of the page. I have mine turned off by default anyway, but my profile
    looks better when it's removed so I'm adding this.*/
    visibility: hidden;
}




/*backgroundFix

If you're using a custom background image, this section is required to use fancyFooter. 
If not, you can always leave this out, or you can add one by replacing the url with your own.*/

body{
    background: var(--background) center top / 100% fixed;
}




/*scrollbarFix

This is required if you're using backgroundFix. If you're not, don't bother adding this bit.*/

::-webkit-scrollbar-track{
    background:#151F2E;
}